/node_modules
/tests
/storage/filepond-temp
/storage/logs
/public/products
/public/categories
/public/.htaccess
/storage/*.key
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
